body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

#page-loading-blocs-notifaction {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}

.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper::before {
    background: url("img/texture-paper.png");
    background-size: 280px 280px;
}

.b-parallax {
    background-attachment: fixed;
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.invalid-feedback {
    display: none;
    color: red;
}

.form-control {
    margin: 1rem;
    padding: 1rem;
    width: 60rem;
    border-color: rgba(0, 0, 0, .1);
    border-radius: 5rem;
    box-shadow: none;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: #F3976C!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

.bg-atlanta-20made-20sign {
    background-image: url("img/atlanta-made-sign.jpg");
}

.bg-atlanta-20made-20sign-20orange {
    background-image: url("img/atlanta-made-sign-orange-min.jpg");
}

a {
    text-decoration: none;
}

.home-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.home-header-logo {
    height: 8rem; 
    width: 10rem;
}

.home-nav-list li {
    list-style-type: none;
    padding: 2rem;
    font-size: 1.8rem;
}

.home-nav-list-item:hover {
    background-color: #F3976C;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.header-logo {
    height: 5rem; 
    width: 35rem;
}

.nav-list li {
    list-style-type: none;
    display: inline;
    padding: 3rem;
}

.nav-list-item:hover {
    background-color: #F3976C;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    height: 50rem;
}

.hero-heading {
    color: #fff;
    font-weight: 900;
}

.services {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 5rem;
}

.services-heading {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
}

.services-flex-container {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

.services-flex-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 35rem;
    font-size: 1.8rem;
    text-align: center;
}

.quote {
    width: 75rem;
    text-align: center;
    font-size: 1.8rem;
}

.button {
    background-color: #F3976C;
    border: transparent;
    border-radius: 4rem;
    color: #FFF;
    font-size: 2rem;
    padding: 3rem;
    margin: 3rem;
    align-self: center;
    width: 20rem;
}

.portfolio-heading {
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
}

.portfolio-txt-heading {
    font-weight: 700;
    color: #000;
}

.portfolio-txt {
    font-size: 1.8rem;
}

.what-i-do-para {
    padding: 5rem;
    font-size: 3rem;
    color: #fff;
}

.contact-page {
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.form {
    display: flex;
    flex-flow: column wrap;
}

.form-header {
    width: 60rem;
    line-height: 2.7rem;
}

fieldset {
    border: none;
}

legend {
    font-weight: 800;
    font-size: 1.4rem;
    padding: 2rem 0 2rem 0;
}

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 8rem;
    height: 30rem;
}

.contact-heading {
    font-weight: 900;
    color: #fff;
}

.form-img {
    width: 50rem;
    height: 35rem;
    border-radius: 3rem;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.footer-heading {
    font-weight: 600;
    line-height: 5rem;
}

.footer-list {
    list-style-type: none;
    margin-top: 2rem;
}

.footer-list-item {
    display: inline;
    padding: 0 1.5rem 0 1.5rem;
}

.about {
    padding: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.about-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.about-list {
    list-style-type: none;
    font-size: 1.6rem;
    line-height: 3rem;
}

@media (max-width: 768px) {
    .home-header-logo-logo {
        width: 35rem;
    }
}

@media (max-width: 992px) {
    .header-logo-logo {
        width: 25rem;
    }
    
    .nav-list {
        padding: 0;
    }

    .nav-list li {
        padding: 0 4em 0 0;
    }
}

@media (max-width: 768px) {
    .services {
        padding: 3rem;
        gap: 3rem;
    }
    
    .services-heading {
        width: 55rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    
    .services-flex-container {
        flex-flow: column wrap;
    }
    
    .services-flex-item {
        flex-flow: column wrap;
        align-items: center;
        width: 35rem;
        font-size: 1.8rem;
        text-align: center;
    }
    
    .quote {
        padding: 2rem 0 5rem 0;
        width: 55rem;
    }
}

@media (max-width: 1300px) {
    .about {
        padding: 3rem;
        gap: 1rem;
    }
    
    .about-container {
        flex-flow: column wrap;
        gap: 2rem;
    }
}

@media (max-width: 992px) {
    .contact-page {
        padding: 0;
        margin: 0;
        gap: 2rem;
    }
    
    .form-header {
        line-height: 2.7rem;
        font-weight: 300;
        width: 30rem;
    }
    
    fieldset {
        border: none;
    }
    
    legend {
        font-weight: 800;
        font-size: 1.4rem;
        padding: 2rem 0 2rem 0;
    }
    
    .contact {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 8rem;
        height: 30rem;
    }
    
    .contact-heading {
        font-weight: 900;
        color: #fff;
    }
    
    .form-img {
        width: 25rem;
        height: 15rem;
        border-radius: 3rem;
    }

    .button {
        margin: 0;
    }

    .form-control {
        width: 20rem;
    }
}

@media (max-width: 768px) {    
    .footer-heading {
        width: 65rem;
        font-size: 1.75rem;
        line-height: 3rem;
    }
    
    .footer-list-item {
        font-size: 2rem;
        padding: 3rem;
    }
}